<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Chat Window</title>
    <link rel="stylesheet" href="/chat/chat.css" >
  </head>
  <body>
    <h1 style='text-align:center;'>Chat App</h1>
    <div id="chatScreen">
    <div class="chat-container">
      <div class="users">
        <h3>Users</h3>
        <ul id="userList"></ul>
      </div>
      <div class="chat">
        <div class="messages" id="messages"></div>
        <div class="input-box">
          <input id="msg" placeholder="Type a message..." />
          <button onclick="sendMessage()">Send</button>
        </div>
      </div>
    </div>
  </div>
 
 
  </body>
</html>